attrs==23.2.0
autopep8==2.1.0
construct==2.10.70
numpy==1.26.4
pandas==2.2.1
pycodestyle==2.11.1
PYSCSI==2.1.0
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
setuptools==72.1.0
six==1.16.0
tzdata==2024.1
